{% extends "base_menu.html" %}

{##}
{#  Шаблон для главной страницы #}
{##}

{# Заголовок страницы HTML #}
{% block head_title %}Взлом шифра Виженера{% endblock %}

{# Остальная страница HTML #}
{% block body_content_trunk %}
    <div class="main_div_center_no_scroll">
        <div class="creating_topic">
            <h1 class="title">Взлом шифра Виженера</h1>
            <div class="content">
                <form action="/decryption_final/" method="post">
                    <p class="field_title">
                        <label>Введите закодированное сообщение:</label><br>
                        <textarea id="message" class="small" name="message">
                            влцдутжбюцхъяррмшбрхцэооэцгбрьцмйфктъъюьмшэсяцпунуящэйтаьэдкцибрьцгбрпачкъуцпъбьсэгкцъгуущарц
                            ёэвърюуоюэкааэбрняфукабъарпяъафкъиьжяффнйояфывбнэнфуюгбрьсшьжэтбэёчюъюръегофкбьчябашвёэуъъюад
                            нчжчужцёэвлрнчулбюпцуруньъшсэюъзкцхъяррнрювяспэмасчкпэужьжыатуфуярюравртубурьпэщлафоуфбюацмну
                            бсюкйтаьэдйюнооэгюожбгкбрънцэпотчмёодзцвбцшщвщепчдчдръюьскасэгъппэгюкдойрсрэвоопчщшоказръббнэ
                            угнялёкьсрбёуыэбдэулбюасшоуэтъшкрсдугэфлбубуъчнчтртпэгюкиугюэмэгюккъъпэгяапуфуэзьрадзьжчюрмфц
                            храююанчёчюъыхьъцомэфъцпоирькнщпэтэузуябащущбаыэйчдфрпэцъьрьцъцпоилуфэдцойэдятррачкубуфнйтаьэ
                            дкцкрннцюабугюуубурьпйюэъжтгюркующоъуфъэгясуоичщщчдцсфырэдщэъуяфшёчцюйрщвяхвмкршрпгюопэуцчйта
                            ьэдкцибрьцыяжтюрбуэтэбдуящэубъибрювъежагибрбагбрымпуноцшяжцечкфодщоъчжшйуъцхчщвуэбдлдъэгясуах
                            зцэбдэулькнъщбжяцэьрёдъьвювлрнуяфуоухфекьгцчччгэъжтанопчынажпачкъуъмэнкйрэфщэъьбудэндадъярьею
                            элэтчоубъцэфэвлнёэгфдсэвэёкбсчоукгаутэыпуббцчкпэгючсаъбэнэфъркацхёваетуфяепьрювържадфёжбьфуто
                            щоявьъгупчршуитеачйчирамчюфчоуяюонкяжыкгсцбрясшчйотъъжрсщчл
                        </textarea><br>
                        <span class="form_note">Буквы должны быть из русского алфавита</span>
                    </p>

                    <p class="field_title">
                        <label>Введите ключ для дешифрации, если таковой имеется:</label><br>
                        <input id="key" class="w100p" type="text" value="" name="key" /><br>
                        <span class="form_note">Только буквы русского алфавита</span>
                    </p>

                    <p class="field_title">
                        <input type="submit" size="20" class="w50p" value="Погнали" />
                    </p>

                </form>
            </div>
        </div>
    </div>
{% endblock %}