{% extends "base_menu.html" %}

{##}
{#  Шаблон для главной страницы #}
{##}

{# Заголовок страницы HTML #}
{% block head_title %}Формирование шифра Виженера{% endblock %}

{# Остальная страница HTML #}
{% block body_content_trunk %}
    <div class="main_div_center_no_scroll">
        <div class="creating_topic">
            <h1 class="title">Формирование шифра Виженера</h1>
            <div class="content">
                <form action="/encryption_final/" method="post">
                    <p class="field_title">
                        <label>Введите исходное сообщение:</label><br>
                        <textarea id="message" class="small" name="message">
                            Разве быть здоровым -- то же самое, что не быть больным? Определенно, здоровье -- это нечто большее. Для нас физическое здоровье -- это и состояние, и способность, и энергия заниматься тем, что нам необходимо, получать при этом удовольствие и выздоравливать без всякой помощи.
    Здоровье парадоксально: вы не можете непосредственно заставить себя стать здоровым, вам остается только наблюдать за тем, как удивительная способность вашего организма исцелять себя начинает действовать сама собой. И ваше богатство или бедность, жестокость или добродетельность не имеют здесь, по-видимому, никакого значения.
    Здоровье -- это нечто позитивное. Оно не означает отказ от удовольствия. Здоровье является естественным следствием нашего образа жизни: взаимоотношений, диеты, окружающей обстановки. Здоровье -- это не предмет собственности, это процесс. Это то, что мы делаем, результат наших мыслей и чувств. Это -- образ существования.
    Интересно, что направление медицинских исследований все больше и больше отклоняется в сторону той области, которая до сих пор считалась сферой деятельности психологов, и сейчас уже трудно провести четкие разграничения между физическими и ментальными факторами заболеваний.
                        </textarea><br>
                        <span class="form_note">Буквы должны быть из русского алфавита</span>
                    </p>

                    <p class="field_title">
                        <label>Введите ключ для шифрования:</label><br>
                        <input id="key" class="w100p" type="text" value="" name="key" /><br>
                        <span class="form_note">Только буквы русского алфавита</span>
                    </p>

                    <p class="field_title">
                        <input type="submit" size="20" class="w50p" value="Шифровать" />
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}